<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <title>Title</title>
</head>
<body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        url 固定<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {#　url <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>　#}
        url3 <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>